
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../../node_modules/csshake/scss/csshake.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}
*{
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bolder;
}

body{
  background: url('../images/springfield.jpg');
  background-size: cover;
  background-position: 0 -180px;
}

img {
  max-width: 100%;
}


.bart{
  position: absolute;
  margin-left: 760px;
  margin-top: 240px;
  height: 200px;
  width: 100px;
  z-index: 10;
}
.ned{
  position: absolute;
    margin-left: 760px;
    margin-top: 211px;
    height: 284px;
    width: 171px;
    z-index: 10;
}
.lisa{
  position: absolute;
    margin-top: 240px;
    margin-left: 704px;
    height: 200px;
    width: 129px;
    z-index: 10;
}
.health-bar-hero{
  position: absolute;
  width: 175px;
  height: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
  background-color: red;
  border: 2px solid red;
  z-index: 10;
  margin-top: 200px;
  margin-left: 700px;
}
.nelson{
  position: absolute;
    margin-top: 183px;
    margin-left: 400px;
    height: 340px;
    width: 186px;
    z-index: 10;
}
.homer{
  position: absolute;
  margin-top: 105px;
  margin-left: 400px;
  height: 400px;
  width: 200px;
  z-index: 10;
}
.krusty{
  position: absolute;
  margin-top: 167px;
  margin-left: 400px;
  height: 364px;
  width: 246px;
  z-index: 10;
}
meter{
  -webkit-appearance: none;
}
.health-bar-villain{
  position: absolute;
  width: 175px;
  height: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
  background-color: red;
  border: 2px solid red;
  z-index: 10;
  margin-top: 105px;
  margin-left: 445px;
}
.splash-form{
  text-align: center;
  // margin-top: -500px;
  font-size: 50px;
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
}

.start-game {
  margin-top: 125px;
  width: 320px;
  height: 75px;
  // background-color: #A67842;
  background-color: transparent;
  border-color: transparent;
}
.start-game:hover{
  background-color: white;
  color: black;
}
.action{
  margin-top: 10px;
  margin-right: 10px;
}
.option3{
  font-size: 45px;
  text-align: center;
  font-weight: bold;
  font-family: 'Gloria Hallelujah', cursive;
  color: white;
}
.option2{
  position: relative;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Gloria Hallelujah', cursive;
  color: white;
  // margin-top: -700px;
}
.option1{
  text-align: center;
  margin-left: 550px;
  font-size: 35px;
  margin-top: 115px;
}
button, input, optgroup, select, textarea {

    color: inherit;
    font: inherit;
    width: 150px;
    margin: 0;
}
.fight{
  color: white;
  position: absolute;
  margin-left: 700px;
  margin-top: 150px;
  border-radius: 10px;
  background-color: purple;
}

.winner{
  padding-left: 558px;
  font-size: 40px;
  font-weight: bold;
}

.loser{
  padding-left: 558px;
  font-size: 40px;
  font-weight: bold;
}
