
<div class="row">
  <div class="col-md-12 ">
    <meter class="health-bar-villain" value=".5" min="0" max="100">Health</meter>

    <img id="{{name}}" class="{{name}} {{animation}}" src="{{image}}" alt="hero-image">
    <select class="action" name="">
      <button class="fight-button"type="attack" name="attack"></button>

      <option value="slap">slap</option>
      <option value="pull-hair">Pull Hair</option>
      <option value="kick">Kick in the shin</option>
    </select>
    <button class="fight-button" type="button" name="button">Fight</button>

  </div>
</div>
