
<div class="row">
  <div class="col-md-12">
<!-- =========== background for fight scene ============== -->
    <img id="springfield" class="springfield" src="images/springfield.jpg" alt="">
<!-- ============== heros ============= -->
    <img id="lisa" class="lisa" src="images/lisa.png" alt="">
    <img id="bart" class="bart" src="images/BARTslingshot-psd.png" alt="">
<!-- =============== villains ================ -->
    <img id="krusty" class="krusty" src="images/Krusty_The_Clown.png" alt="">
    <img id="homer" class="homer" src="images/homer-doh.png" alt="">
  </div>
</div>
