






<div class="row">

<img class="springfield" src="images/springfield.jpg" alt="">
  <div class="heros1 col-md-6">
    <div class="heading">
      <h1 class="option2" >Hero</h1>
    </div>
      <div class="heros">
        <h2 class="option3">Choose Your Hero</h2>
      </div>
        <select class="hero-select option1" name="select" value="select">
          <option value="Bart">Bart</option>
          <option value="Lisa">Lisa</option>
        </select>
      </div>
          <div class="col-md-6">
            <div class="heading">
              <h1 class="option2">Villains</h1>
            </div>
              <div class="villian">
                <h2 class="option3">Choose villain</h2>
              </div>
                <select class="villian-select option1" name="">
                  <option value="homer">Homer</option>
                  <option value="lisa">Krusty</option>
                </select>
              </div>
                <form class="splash-form">
                  <label>
                    <input class="start-game" type="Submit" name="Start Game" value="Start Game">
                  </label>
                </form>
</div>
