

  <div class="heros1 col-md-12">
    <div class="heading">
      <h1 class="option2">Hero</h1>
    </div>
      <div class="heros">
        <h2 class="option3">Choose Your Hero</h2>
      </div>
        <select class="hero-select option1" name="hero-select">
          {{#each heros}}
            <option id="{{name}}" value="{{@index}}">{{name}}</option>
          {{/each}}
        </select>
      </div>
        <!-- <div class="col-md-6">
          <div class="heading">
            <h1 class="option2">Villains</h1>
          </div>
            <div class="villian">
              <h2 class="option3">Choose villain</h2>
            </div>
              <select class="villian-select option1" name="">
                <option id="homer" value="homer">Homer</option>
                <option id="krusty" value="lisa">Krusty</option>
              </select>
            </div> -->
                <!-- <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="villianDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    select villian
                    <span class="caret"></span>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Homer</a>
                    <a class="dropdown-item" href="#">Krusty</a>
                  </div>
                </div> -->

              <!-- </div> -->
                <form class="splash-form">
                  <label>
                    <input class="start-game" type="Submit" name="Start Game" value="Start Game">
                  </label>
                </form>
